*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://png.pngtree.com/background/20230610/original/pngtree-the-gym-scene-where-people-are-sitting-in-a-gym-picture-image_3108802.jpg");
    background-size: cover;
}

.form{
    width: 400px;
    background-color: transparent;
    border: 2px solid rgb(188, 187, 187);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.form h1{
    font-size: 36px;
    text-align: center;
}
.form .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:2px solid rgb(224, 224, 222);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;

}
.input-box input::placeholder{
    color: white;
}
.input-box i {
    position: absolute;
    right:642px;
    
    transform: translateY(90%);
    
}
.form .remember-forgot{
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a:hover{
    color: white;
    text-decoration: underline;
}
.form .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor:pointer;
    font-size: 16px;
    color:black;
    font-weight: 600;

    
}
.form .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;


}
.register-link p a:hover{
    text-decoration: underline;

}
